@import "../daemonite-material/colors";
$size-1: 12px;
$size-2: 14px;
$size-3: 16px;
$size-4: 18px;
$size-4: 20px;
$size-5: 24px;
$enable-caret: true;
$caret-width:.3em;
$rem: 16px; // daemonite-material
$grid-gutter-width: 30px;
$btn-font-size: 16px;
$btn-height: 2.75 * $rem;
$btn-height-lg: 3.25 * $rem;
$btn-height-sm: 2.25 * $rem;
$border-radius: 3px;
$color-gray: #e6e6e6;
$yiq-contrasted-threshold: 185;
$stepper-text-color: #ffffff;
$btn-elevation-shadow: (
  elevation: 0,
  shadow: 0
);
$btn-elevation-shadow-active:  (
  elevation: 0,
  shadow: 0
);
$primary: (
  color: #acc192,
  dark: #7a9d55,
  light: #a7b498
);
$secondary: (
  color: #4b593a,
  dark: #edf1e8,
  light: #f9f9f9
);
@import "../daemonite-material/functions";
@import "../daemonite-material/mixins";
@import "../daemonite-material/variables";
