// main scss
@import 'materialize';
@import "common";
@import "stepper";
button::after {
  border: none;
}

Page {
  background-color: map-get($primary,color);
  box-sizing: border-box;
}
view,text,label {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
