// main scss
@import 'materialize';
@import "common";
@import "daemonite-material";
@import "stepper";
button::after {
  border: none;
}

.size-1 {
  font-size: $size-1 !important;
}
.size-2 {
  font-size: $size-2 !important;
}
.size-3 {
  font-size: $size-3 !important;
}
.size-4 {
  font-size: $size-4 !important;
}
.size-5 {
  font-size: $size-5 !important;
}
.caret {
    @include caret;
}
Page {
  background-color: map-get($primary,color);
  box-sizing: border-box;
}
view,text,label,textarea {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
textarea {
  vertical-align: top;
  border: 1px map-get($primary,color) solid;
  background-color: map-get($secondary,light);
  border-radius: $border-radius;
  padding: 0.5em;
  font-size: 16px;
  width: 100%;
}
