// main scss
@import 'materialize';
@import "common";
@import "stepper";
button::after {
  border: none;
}

Page {
  background-color: map-get($primary,color);
  box-sizing: border-box;
}
view,text,label,textarea {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
textarea {
  vertical-align: top;
  border: 1px map-get($primary,color) solid;
  background-color: map-get($secondary,color);
  border-radius: $border-radius;
  padding: 0.5em;
  font-size: 16px;
  width: 100%;
}
